# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages used in Data Science
- Libraries used for Data Science
- Tools used in Data Science
- execution of arithematic experessions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. seaborn
4. matplotlib

Table of Data Science Tools:
|Data Science Tools|
|------------------|
|Python|
|R Language|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shalaka Helkar